.btn{
     background-color: var(--color-black);
     color:var(--color-primary);
     border-radius: 1.2rem;
     padding:1rem 1.6rem;
     cursor: pointer;
     font-weight: 600;
     font-size: 1.8rem;
}